/* query2.css */

.query3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url("../pictures/11.jpg");
    margin: 10px;
    background-size: cover;
    height: 110vh;
    color:white;
  }
  
  .header334 {
    font-size: 30px;
    color: rgb(252, 252, 252);
    margin-right: 200px;
  }
  
  .form {
    color:white;
    width: 100%;
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #060606;
    border-radius: 5px;
  }
  
  .form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color:white;
  }
  
  .form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Adjust the width, positioning, and styles of the date pickers and submit button according to your layout preferences */
  
  .form .ant-picker {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .form .ant-picker input {
    width: 100%;
  }
  
  .form .ant-btn {
    width: 100%;
    margin-right: -290px;
  }
  
  /* Styling for the table, adjust as needed */
  
  .ant-table {
    width: 100%;
    margin: 20px;
  }
  
  /* Add any additional CSS styles as needed for other elements in your component. */
  
  